

  <div class="hero">
    <h1 class="welcome">Welcome to Starry Sky!</h1>
    <h4 class="subtext">Explore the constellations and stars that inhabit the universe.</h4>
    <div class="col-xs-1" align="center">
    <%= link_to "Explore Constellations", "/constellations", class:"btn btn-lg btn-dark mt-5 me-3" %>
    <%= link_to "Explore Stars", "/stars", class:"btn btn-lg btn-dark mt-5" %>
    </div>
  </div>
